<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mapper.ShopMapper">
	<insert id="insert">
		insert into shoptable(amount, name, email)
		values(#{amount}, #{name},#{email})
	</insert>
	<select id="getList" resultType="com.myproject.dto.ShopDTO">
		select * from shoptable
	</select>
</mapper>